.pagination-bar{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 0;
    margin-bottom: 0;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    width: 30%;
}

.page-number{
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-color: #ced4da !important;
    color: #6b88a4;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
}

.page-number.active{
    color: #445565 !important;
    background-color: #e3e7eb !important;
}

.page-number:hover{
    background-color: #f4f4f4;
}